.btn {
  background-color: #5bab67;
  padding: 12px 16px 12px 16px;
  color: white;
  border: none;
  border-radius: 4px;
}
.btn:hover {
  background-color: #4a9a58;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.banner-button .arrow-button:hover {
  background-color: #4a9a58;
}
.banner-button .transparent-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.nav-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
}
.nav-item .menu {
  display: flex;
  gap: 28px;
  list-style: none;
}
.nav-item .menu a {
  text-decoration: none;
  color: rgb(93, 88, 88);
  font-size: 16px;
}
.nav-item .menu a:hover {
  color: #5bab67;
}
.banner-button {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.banner-button .arrow-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  background-color: #5bab67;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.banner-button .transparent-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.banner {
  /* border: 1px solid red; */
  background-image: url("/assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  height: 70vh;
  position: relative;
  align-items: center;
}
.banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 91%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  height: 91%;
}
.banner .overlay h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
}
.banner .overlay h1 pre {
  text-align: center;
}
.banner .overlay .shorts {
  color: rgb(255, 255, 255);

  font-size: 18px;
  font-weight: 400;
  font-family: Inter;
  line-height: 24px;
  text-align: center;
}
.note-section h2 {
  margin: 50px 0 0 0;
}
.note-section p {
  margin: 0 0 0 0;
}
.note-section h2,
p {
  text-align: center;
}
body {
  width: 100%;
}
.box-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}
.box-item {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 600;
  width: 280px;
  height: 150px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.box-section .box-item img {
  padding: 5px;
  background-color: rgb(250, 68, 68);
  border: none;
  border-radius: 20px;
}
.box-section .box-item p {
  font-size: 12px;
  font-style: normal;
  color: rgb(85, 85, 85);
}
.centered-section {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 40px;
  padding: 60px;
  max-width: 1200px;
  margin: 0 auto 0;
}

.image-box img {
  height: 100%;
  max-height: 500px;
  object-fit: cover;
  display: block;
}

.image-box,
.text-box {
  flex: 1;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-box h3 {
  font-size: 15px;
  margin-bottom: 0px;
  color: #5bab67;
  font-family: inherit;
}

.text-box h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: black;
}

.text-box p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: left;
  color: #555;
}

.text-box ul {
  list-style-type: none;
  padding-left: 0px;
}

.text-box li {
  margin-bottom: 10px;
}
.cta-banner {
  background-color: #fff7e2b9;
  text-align: center;
  padding: 60px 20px;
  font-family: "Inter", sans-serif;
  margin: 0px 80px 80px 80px;
  border-radius: 5px;
}

.cta-banner h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
}

.cta-subtext {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
  line-height: 1.6;
}

.vault-btn:hover {
  background-color: #4a9a58;
}

.vault-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  background-color: #5bab67;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.vault-btn img {
  width: 20px;
  height: auto;
}
.cta-banner .cta-subtext,
.cta-note {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #555;
}
.site-footer {
  background-color: #0b1c2c;
  color: white;
  padding: 100px 20px;
  font-family: "Inter", sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-logo {
  width: 100%;
  height: auto;
}

.footer-right h4 {
  font-size: 16px;
  margin-bottom: 8px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons img {
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #aaa;
}
.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: white;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #5bab67;
}
hr {
  border: none;
  border-top: 1px solid rgba(204, 204, 204, 0.4);
  margin: 80px auto;
  width: 90%;
}
