.btn{
    background-color:#5bab67 ;
    padding: 12px 16px 12px 16px;
    color: white;
    border: none;
    border-radius: 4px;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.nav-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
}
.nav-item .menu {
    display: flex;
    gap: 28px;
    list-style: none;

}
.nav-item .menu a{
    text-decoration: none;
    color: rgb(93, 88, 88);
    font-size: 16px;
}
.nav-item .menu :hover{
 color: #5bab67;
}
.banner-button{
    display: flex;
    gap: 10px;
    justify-content: center;
    
}
.banner-button .arrow-button{
  
  display: inline-flex;           
  align-items: center;            
  gap: 8px;                       
  padding: 10px 20px;
  background-color: #5bab67;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.banner-button .transparent-button{
   display: inline-flex;           
   align-items: center;            
   gap: 8px;                       
   padding: 10px 20px;
   background-color: transparent;
   color: white;
   font-size: 16px;
   border-radius: 8px;
   cursor: pointer;
   font-weight: 600;

}


.banner{
     /* border: 1px solid red; */
    background-image: url("/background-image.jpg");
    background-size: cover;
    background-position: center;
    height: 75vh;
    position: relative;
   
}
.banner .overlay{

  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 91%;
  
  
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  text-align: center;
  padding: 2rem;
  height: 91%;
}
.banner .overlay h1{
    
font-style: Bold;
font-size: 70px;
font-weight: 700;
line-height: 80px;
text-align: center;
}
.banner .overlay .shorts{
     color: rgb(255, 255, 255);


font-size: 18px;
font-weight: 400;
font-family: Inter;
line-height: 24px;
text-align: center;
}
