.btn{
    background-color:#5bab67 ;
    padding: 12px 16px 12px 16px;
    color: white;
    border: none;
    border-radius: 4px;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.nav-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
}
.nav-item .menu {
    display: flex;
    gap: 28px;
    list-style: none;

}
.nav-item .menu a{
    text-decoration: none;
    color: rgb(93, 88, 88);
    font-size: 16px;
}
.nav-item .menu :hover{
 color: #5bab67;
}
.banner-button{
    display: flex;
    gap: 10px;
    justify-content: center;
    
}
.banner-button .arrow-button{
  
  display: inline-flex;           
  align-items: center;            
  gap: 8px;                       
  padding: 10px 20px;
  background-color: #5bab67;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.banner-button .transparent-button{
   display: inline-flex;           
   align-items: center;            
   gap: 8px;                       
   padding: 10px 20px;
   background-color: transparent;
   color: white;
   font-size: 16px;
   border-radius: 8px;
   cursor: pointer;
   font-weight: 600;

}


.banner{
     /* border: 1px solid red; */
    background-image: url("/assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    height: 70vh;
    position: relative;
    align-items: center;
   
}
.banner .overlay{

  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 91%;
  
  
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  text-align: center;
  padding: 2rem;
  height: 91%;
}
.banner .overlay h1{
    
font-style: Bold;
font-size: 70px;
font-weight: 700;
line-height: 80px;
text-align: center;
}
.banner .overlay h1 pre{
    text-align: center;
}
.banner .overlay .shorts{
     color: rgb(255, 255, 255);


font-size: 18px;
font-weight: 400;
font-family: Inter;
line-height: 24px;
text-align: center;
}
.note-section h2{
    margin:50px 0 0 0;
}
.note-section p{
    margin:0 0 0 0;
}
.note-section h2,p{
    text-align: center;
  
}
body{
    width: 100%;
}
.box-section {
  display: flex;              
  justify-content: center;    
  align-items: center;       
  gap: 20px;                  
  padding: 40px;
  flex-wrap: wrap;            
}
.box-item {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 600;
  width: 280px;
  height: 150px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.box-section .box-item img {
    padding: 5px;
    background-color:  rgb(250, 68, 68);
    border: none;
    border-radius: 20px;
}
.box-section .box-item p{
    font-size: 12px;
    font-style: normal;
    color: rgb(85, 85, 85);

}
